.page-header {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr 1fr auto auto;
  grid-template-areas:
    'i i i i'
    'h h h h'
    'a a a a'
    'f f f f';

  @include media-breakpoint-up(lg) {
    min-height: 80vh;
    grid-template-areas:
      'h i i i'
      'h i i i'
      'h a a f';
  }

  img {
    grid-area: i;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  h1 {
    grid-area: h;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $spacer;
    margin: 0;
  }

  article {
    grid-area: a;
    padding: 0 $spacer;
    @include media-breakpoint-up(lg) {
      padding: $spacer 0;
    }
  }

  footer {
    grid-area: f;
    padding: $spacer;
  }
}